/* Experiência */
.experience article {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.experience article .items {
  flex-grow: 1; /* flex-grow: 0; padrão */
  flex-shrink: 0; /* flex-shrink: 1; padrão */
  flex-basis: 480px; /*flex-basis: auto; padrão */
  margin: 0 10px;
  display: flex;
  flex-flow: column;
  row-gap: 15px;
}

.html,
.css,
.js {
  box-shadow: 5px 5px 6px rgba(53, 32, 32, 0.3);
  border-bottom-right-radius: 4px;
  padding: 7.5px 0;
}

.html h3::before,
.css h3::before,
.js h3::before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid var(--_background-color);
  box-shadow: 0 0 0 3px currentColor;
  margin: 0 auto 15px auto;
  background-color: currentColor;
}

.html h3,
.css h3,
.js h3 {
  text-align: center;
  margin-bottom: 15px;
}

.html h3 {
  color: #dd4b25;
}

.css h3 {
  color: #006db4;
}

.js h3 {
  color: #ecc50b;
}

.html div picture,
.css div picture,
.js div picture {
  float: left;
  margin-right: 7.5px;
}

.experience article .intensive-courses {
  flex-basis: 320px; /* flex-basis: auto; padrão */
  margin: 0 10px;
}

.intensive-courses h3 {
  margin-bottom: 15px;
}

.intensive-courses div:not(:last-of-type) {
  margin-bottom: 15px;
}

.paragraph {
  overflow-y: auto;
  height: 100px;
  padding: 7.5px 0;
}

/*
Esse trecho de código CSS está definindo a aparência da barra de rolagem (scrollbar) de um elemento com a classe "paragraph" em navegadores que usam a engine WebKit, como o Google Chrome e o Safari.
A primeira regra "paragraph::-webkit-scrollbar" define a largura da barra de rolagem para 15 pixels.
A segunda regra "paragraph::-webkit-scrollbar-thumb" define a aparência da "thumb" ou "polegar" da barra de rolagem, que é a parte que você pode arrastar para rolar a página. Nesse caso, a thumb tem uma cor de fundo vermelho e bordas esquerda e direita com 2 pixels de largura e cor igual à cor de fundo da página. Isso cria uma aparência de gradiente na thumb.
A terceira regra "paragraph::-webkit-scrollbar-track" define a aparência da "track" ou "trilha" da barra de rolagem, que é a parte que fica entre a thumb e as setas de navegação da barra de rolagem. Nesse caso, a track tem uma cor de fundo cinza claro.
Em resumo, essas regras CSS estão personalizando a aparência da barra de rolagem de um elemento com a classe "paragraph" em navegadores que usam a engine WebKit.
*/
.paragraph::-webkit-scrollbar {
  width: 15px;
}

.paragraph::-webkit-scrollbar-thumb {
  border-left: 2px solid var(--_background-color);
  border-right: 2px solid var(--_background-color);
  background-color: #dd4b25;
}

.paragraph::-webkit-scrollbar-track {
  background-color: var(--_background-highlights);
}

.intensive-courses div a {
  display: inline-block;
  text-decoration: underline;
  color: #005fb6;
}

.paragraph > a {
  text-transform: capitalize;
}

hr {
  /* border-color: transparent; */
  border: none;
  background-color: var(--_border-color);
  height: 2px;
  margin: 0 10px 15px;
  display: none;
}

hr.showLine {
  display: block;
}
